/* Ad screen */
body.ad-screen {
	background-color: #fffbe6;
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.qr {
	height: 200px;
	margin-top: 30px;
	width: auto;
	border-radius: 2vh;
}

#hojasArriba {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 75vh;
}

.hojasArribaDer {
	display: flex;
	justify-content: center;
	height: 220px;
	margin-bottom: 7vh;
	margin-left: 12vh;
}

.hojasArribaIzq {
	display: flex;
	height: 250px;
	margin-bottom: 12vh;
	margin-left: 5vh;
}

.hojasArribaCentro {
	display: flex;
	justify-content: center;
	height: 290px;
	margin-left: 6vh;
}

.abajo {
	position: relative;
	z-index: 0;
	margin-top: 12vh;
	height: 52vh;
}

#abajo {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: center;
	position: relative;
	z-index: 2;
	top: 36vh;
}

.title {
	display: block;
	width: 25vh;
	margin-bottom: 3vh;
}

.discount {
	height: 38vh;
}

#discount {
	display: flex;
	justify-content: center;
}

#content {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	z-index: 1;
	bottom: 17vh;
	left: 13vh;
}

#hojasAbajo img {
	height: 20vh;
	padding-left: 15vh;
	padding-bottom: 8vh;
	position: relative;
	z-index: 1;
}

.hojasLado {
	position: absolute;
	top: 55%;
	right: 60vh;
	width: 180px;
}

.mono {
	position: absolute;
	top: 15%;
	left: 59vh;
	width: 250px;
}

.tucan {
	position: absolute;
	top: 15%;
	right: 53vh;
	width: 340px;
}

.venado {
	position: absolute;
	top: 70%;
	left: 50px;
	width: 250px;
}
/* Ad screen */

/* select animal */
body.selectAnimal {
	background-color: #fffbe6;
	margin: 0;
	font-family: 'Arial', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	min-height: 100vh;
	padding: 0;
	box-sizing: border-box;
}

#leonImage,
#canguroImage,
#micoImage,
#tortugaImage,
#patoImage,
#flamencoImage,
#antilopeImage,
#colibriImage,
#tucanImage {
	width: 75px;
	height: auto;
	border-radius: 10px;
	margin-bottom: 1rem;
}

#topImage {
	width: 100%;
	height: auto;
	display: block;
}

#bottomImage {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: auto;
	z-index: -1;
	object-fit: cover;
}

body.selectAnimal #instructions {
	color: #301803;
	font-size: 25px;
	line-height: 1.4;
	text-align: center;
	margin: 2rem;
	width: 90%;
	margin-left: 3vh;
}

#buttons {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
	justify-content: center;
	width: 100%;
	max-width: 400px;
	padding: 1rem;
	box-sizing: border-box;
	margin-left: 22vh;
}

#buttons button {
	background-color: #ffeec9;
	color: #ff7500;
	font-weight: bold;
	border: none;
	border-radius: 15px;
	padding: 0.8rem 3rem;
	font-size: 1.6rem;
	cursor: pointer;
	transition: background-color 0.3s, transform 0.2s;
	text-align: center;
}

#buttons button:hover {
	background-color: #ffddb3;
	transform: scale(1.05);
}

#selectAnimal {
	display: block;
	margin: 1rem auto 0 auto;
	background-color: #ff7500;
	color: #fffbe6;
	border: none;
	border-radius: 50px;
	padding: 1rem 2.5rem;
	font-size: 1.2rem;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s, transform 0.2s;
}

#selectAnimal:hover {
	background-color: #ff5e00;
	transform: scale(1.1);
}
/* select animal */

/* animal data */
body.animal-data {
	background-color: #fffbe6;
	margin: 0;
	font-family: 'Arial', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	min-height: 100vh;
	padding: 0;
	box-sizing: border-box;
}

#img_info {
	display: flex;
	align-items: center;
	justify-content: center;
}

#img_info_title h1 {
	font-family: 'Lilita One', cursive;
	font-weight: 400;
	font-style: normal;
	color: #ff7500;
	font-size: 60px;
}

#img_info_title {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 14vh;
	margin-top: 8vh;
}

#img_info_title p {
	color: #301803;
	font-size: 25px;
}

#info p {
	color: #301803;
	font-size: 20px;
	width: 380px;
}

#info h3 {
	color: #301803;
	font-size: 25px;
	width: 380px;
}

#image {
	margin-right: 50px;
	padding: 30px;
	background-color: #d5ed9f;
	padding-top: 100px;
	padding-bottom: 100px;
	border-radius: 30px;
}

body.animal-data #leonImage,
body.animal-data #canguroImage,
body.animal-data #micoImage,
body.animal-data #tortugaImage,
body.animal-data #patoImage,
body.animal-data #flamencoImage,
body.animal-data #antilopeImage,
body.animal-data #colibriImage,
body.animal-data #tucanImage {
	width: 170px;
	height: auto;
	border-radius: 10px;
	margin-bottom: 1rem;
}
/* animal data */

/* instructions */
body.instructions {
	background-color: #fffbe6;
	margin: 0;
	font-family: 'Arial', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	min-height: 100vh;
	padding: 0;
	box-sizing: border-box;
}

#instructionsBottom {
	width: 100%;
	height: auto;
	display: flex;
	position: absolute;
	z-index: 0;
	top: 38vh;
}

#instructionsTop {
	width: 75vh;
	height: auto;
	display: flex;
}

body.instructions h1 {
	font-family: 'Lilita One', cursive;
	font-weight: 400;
	font-style: normal;
	color: #ff7500;
	font-size: 60px;
}

body.instructions p {
	color: #301803;
	font-size: 20px;
	margin: 0;
}

body.instructions h3 {
	color: #ff7500;
	font-size: 30px;
	display: flex;
	justify-content: center;
}

body.instructions #instructions {
	margin-left: 10vh;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: absolute;
	z-index: 1;
}

/* start Game */
body.startGame {
	background-color: #fffbe6;
	margin: 0;
	font-family: 'Arial', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	min-height: 100vh;
	padding: 0;
	box-sizing: border-box;
}

#topImages {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	gap: 21vh;
}

#titleColibri {
	margin-left: 12vh;
	position: absolute;
	top: 18vh;
}

#leon {
	width: 100%;
	height: auto;
}

body.startGame #info {
	display: flex;
	flex-direction: column;
	color: #301803;
	margin-top: 12vh;
	align-items: center;
}

body.startGame #info p {
	margin: 40px;
	display: flex;
	justify-content: center;
	width: auto;
	font-size: 25px;
}

body.startGame #info h1 {
	font-size: 55px;
	display: flex;
	justify-content: center;
	margin: 0;
}

body.startGame #info h1 b {
	color: #ff7500;
}
/* start Game */

/* timer */
body.timer {
	background-color: #fffbe6;
	margin: 0;
	font-family: 'Arial', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	min-height: 100vh;
	padding: 0;
	box-sizing: border-box;
}

#timerTop {
	width: 100%;
	height: auto;
}

#timerBottom {
	width: 75vh;
}

#contentTimer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

body.timer h1 {
	color: #301803;
	font-size: 60px;
}

#timer {
	font-family: 'Lilita One', cursive;
	font-size: 80px;
	color: #fffbe6;
	background-color: #00712d;
	padding: 60px;
	border-radius: 30px;
	margin-top: 30px;
	margin-bottom: 135px;
}
/* timer */

/* animal wins */
body.loser,
body.winner {
	background-color: #fffbe6;
	margin: 0;
	font-family: 'Arial', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	min-height: 100vh;
	padding: 0;
	box-sizing: border-box;
}

#topWinner {
	width: 75vh;
	height: auto;
}

#pajaroTucan {
	width: 100%;
}

#ganador {
	font-family: 'Lilita One', cursive;
	color: #00712d;
	font-size: 80px;
	margin-top: 0;
}

#timeContent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#result-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#result-container p {
	color: #513115;
	font-size: 30px;
	margin: 15px;
}

#animal-time span {
	font-size: 50px;
	color: #ff7500;
	margin: 30px;
	font-weight: 900;
}

#user-time span {
	font-size: 50px;
	color: #ffeec9;
	margin: 30px;
	font-weight: 900;
	background-color: #ff7500;
	padding: 16px;
	border-radius: 30px;
}

body.loser h2,
body.winner h2 {
	margin-top: 0;
	margin-bottom: 15px;
	font-size: 40px;
	font-weight: 600;
	color: #513115;
	display: flex;
	justify-content: center;
}

body.loser h2 b,
body.winner h2 b {
	color: #ff7500;
}

.reclamarPremio {
	margin-top: 50px;
}

body.loser h3,
body.winner h3 {
	font-family: 'Lilita One', cursive;
	font-size: 70px;
	color: #ff7500;
	border-radius: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	margin-bottom: 35px;
}

.bottom {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
